modules/star/index/GRCh38.primary_assembly.genome.fa
modules/bbduk/human_rRNAs.fasta
modules/star/index/hybrid_annotated_cat.gtf
modules/bbsplit/index/hybrid_genome.fasta
modules/bbsplit/index/myco_genome.fasta
raw_data/
*.nextflow.log*
.nextflow
work
output
modules/star/index/GRCh38.primary_assembly.genome.fa.fai
modules/star/index/gencode.v46.primary_assembly.annotation.gtf
modules/MEME/gencode.v46.transcripts.fa
modules/MEME/hybrid_transcripts.fa
modules/MEME/WSN_transcripts.fasta