params {
    // Path to raw_reads folder, will need to define or something later
    raw_reads = "${projectDir}/raw_data/*.fastq.gz"
    // Path to genome fasta
    hybrid_genome_file = "${projectDir}/modules/star/index/GRCh38.primary_assembly.genome.fa"
    hybrid_genome_fai = "${projectDir}/modules/star/index/GRCh38.primary_assembly.genome.fa.fai"
    hybrid_genome_gtf = "${projectDir}/modules/star/index/gencode.v46.primary_assembly.annotation.gtf"
    // Path to myco genome fasta
    myco_genome_file = "${projectDir}/modules/bbsplit/index/myco_genome.fasta"
    // Path to human rRNA fasta
    ribofile = "${projectDir}/modules/bbduk/human_rRNAs.fasta"
    annotation_file = "${projectDir}/modules/star/index/gencode.v46.primary_assembly.annotation.gtf"
    star_mode = "TranscriptomeSAM GeneCounts" // string to pass to star QuantMode
    peakcaller = "pureclip,paraclu,iCount,clipper" // list of peak caller to use separated by ',' only
    // Paraclu params
    min_value = 10
    min_density_increase = 2
    max_cluster_length = 200
    //----------------------------
}

// Enable docker so we can use containers as modules for each tool
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)' // Ensures the container runs with the same user ID as the host
}


process.cpus = 8

// process.debug = true

executor {
    name = 'local'
    cpus = 8
    memory = '58 GB'
    queueSize = process.cpus // Limit the executor to run one task at a time
}